<h1>APO Digital - Pesquisa </h1>

<p> Escolha uma tabela para ver os dados: </p>
<form><a href=/categories><button type="button">Categoria</button></a></form></br>
<form><a href=/answers><button type="button">Resposta</button></a></form></br>

<p> Enviar arquivo para o banco de dados: </p>
<form><a href=/upload><button type="button">Upload</button></a></form>