<h1>Cômodos</h1>

<table class="table table-hover">
  <tr>
    <th>id</th>
    <th>nome</th>
    <th>tipo</th>
  </tr>
 
<% @rooms.each do |room| %>
  <tr>
    <td><%= room.id %></td>
    <td><%= room.name %></td>
    <td><%= room.type_room %></td>
  </tr>
<% end %>
</table>

